* {
    margin:0;
    padding:0;
}
body, html {
    color: rgba(255,255,255,.9);
    font-family: 'Lato', sans-serif;
}
body {
    background: hsl(200,50%,30%);
    /*background-size: cover;*/
}
.wrapper {
    position:relative;
    width:100%;
    overflow:hidden;
}
.editorbuttonpanel {
    position: fixed;
    z-index: 2 ;
    top: 10px ;
    right: 10px ;
    color: #EEE ;
    background: rgba(128,128,128,.5);
    border-radius: 10px;
    padding: 20px;
}

#editorfilename {
    margin-right: 30px;
}

.button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #888;
    color: #EEE;
    border-radius: 5px;
    cursor: pointer;
}

.ok {
    background-color: hsl(190,50%,40%);
}


.mainpanel {
    position:fixed;
    top:0px; bottom:0px;
    right:0px;
    left:0px;
}
.container {
    position: absolute;
    top:0px; bottom:0px;
    right: 0px;
    left:0px;
    z-index: 0 ;
}
.editorcontainer {
    display: none;
}
.screencontainer {
    display: none;
}

#editor {
    position:absolute;
    top:0px; bottom:0px;
    left:0px; right:0px;
    background: rgba(0,0,0,.5);
}
.terminal {
    position:absolute;
    top:0px; bottom:0px;
    left:0px; right:0px;
}

.helpcontainer {
    position: absolute;
    top:10px;
    width: 30%;
    right:10px;
    bottom: 10px;
    z-index: 1 ;
}
.helpbubble {
    margin: 0 0 10px 0 ;
    padding: 10px;
    background-color: hsla(25,100%,85%,.8);
    border-radius: 10px;
    color: rgba(0,0,0,.7);
    font-weight: 600;
    font-size: .9em;
}
.helpbubble>h3 {
    font-size: 1.1em;
    margin: 0 0 5px 0;
}
.helpbubble>p {
    color: rgba(0,0,0,.5);
}
a {
    color: #EEE;
    text-decoration: none;
}
.ace-monokai, .ui-widget-content { background:none !important }
.ui-widget-content { color:#FFF; }

.terminal-output > div {
    color: #CCC;
}

.terminal {
    background-color: rgba(0,0,0,.7);
}
.terminal .cmd {
    background-color: rgba(0,0,0,.2);
}

.cmd .prompt, .terminal .terminal-output div div {
    line-height: 20px;
    font-size: 16px;
}
.terminal, .cmd {
    line-height: 20px;
    font-family: Inconsolata, monospace;
}
.terminal-output > div,.terminal, .cmd ,.terminal-output .command {
    color: hsl(170,70%,70%);
    font-size: 16px;
}
.cursor .blink {
    background-color: hsl(170,50%,40%);
    font-size: 16px;
}
.terminal .inverted, .cmd .inverted, .cmd .cursor.blink {
    background-color: hsl(170,70%,70%);
    color: #000;
}
.terminal a {
    color: hsl(20,70%,70%);
}

.terminal a:hover {
    color: hsl(20,100%,80%);
}